<h2 class="page-header">Welcome To E-Zone</h2>
<p>Buy more, pay less!</p
  <article>
  <p>We have a great collection of IT related products including software, hardware, and network that add value to your business.</p>
  <!-- display products --> 
  <h5>Featured products</h5>
  </article>